*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: black;
}

nav {
    background-color: rebeccapurple;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: sticky;
    top: 0;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-link {
   display: flex;
   gap: 10px;
   align-items: center;
   text-decoration: none;
   color: #111;
   font-size: 24px;
   font-weight: bold;
}

.nav-link img{
    width: 30px;
}

.hero-card-content{
    padding: 20px;
    
}

.layout{
    box-sizing: border-box;
    display: flex;
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px;
    
}

.box{
    flex: 25%;
    padding: 5px;
    flex-wrap: wrap; 
}

.box img{
    width: 100%;
    margin-top: 5px;
}

@media (max-width: 450px){
    .box{
        flex: 100%;
    }
}

.nav-list :hover {
    color: blue;
    text-decoration: underline;
}

.footer-content{
    text-align: center;
    margin: 10px;
}










